{% extends 'base.html' %}
{% load static %}


{% block 'title' %}
	Sobre
	{% endblock %}

    {% block 'body' %}
  <!--  <header class="masthead" style="background-image: url({% static 'assets/img/about-bg.jpg' %})"> -->
        <header>
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <div style="text-align:left ;">
                            <span>Atualizado: 07/09/2023</span>
                        </div>
                        <h1>Sobre</h1>
                        
                        <span class="subheading">TT News</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>"Explorando o universo dos tweets mais relevantes! 🌟 Aqui, mergulhamos nas tendências e histórias que estão agitando as redes sociais. Fique por dentro dos insights, das polêmicas e do que está realmente bombando no Twitter."</p>
                    <p> 💬 #TrendingTopics #SocialMedia"</p>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}