{% extends 'base.html' %}
{% load cache %}
{% load static %}


{% block 'title' %}
	Sobre
	{% endblock %}

    {% block 'body' %}
  <!--  <header class="masthead" style="background-image: url({% static 'assets/img/about-bg.jpg' %})"> -->
        <header>
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <div style="text-align:left ;">
                            <span>Atualizado: 07/09/2023</span>
                        </div>
                        <h1>Sobre</h1>
                        
                        <span class="subheading">TT News</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    
    <main class="mb-4">
        
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="{% static 'assets/img/about.jpg' %}" width="180px" height="180px" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body" style="padding-left: 40px;">
                          <p class="card-text">Você provavelmente não quer ler todas essas notícias…</p>
                        </div>
                      </div>
                    </div>
                  </div>

                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p style="display: grid;">
                        Mas... eu faço.

Não me chamam de Editor-chefe da Internet à toa.

Eu escrevo o NextDraft, um resumo rápido, conciso e divertido das notícias diárias. Tenho 75 abas abertas agora para que você possa fechar a sua e voltar a viver sua melhor vida. O boletim informativo é gratuito. É fácil cancelar a assinatura. Você será o sucesso do seu próximo jantar. Olha, eu sou um viciado em internet de longa data, nervoso, viciado em notícias e, sério, não consigo parar. Então, você pode aproveitar e aproveitar a produção de uma mente doada à Internet.

Sério, estou conectado.
                    <p> 💬#Python #Blog #Learn</p>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}