{% extends 'base.html' %}
{% load static %}


{% block 'title' %}
	Sobre
	{% endblock %}

    {% block 'body' %}
  <!--  <header class="masthead" style="background-image: url({% static 'assets/img/about-bg.jpg' %})"> -->
        <header>
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <div style="text-align:left ;">
                            <span>Atualizado: 07/09/2023</span>
                        </div>
                        <h1>Sobre</h1>
                        
                        <span class="subheading">TT News</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    
    <main class="mb-4">
        
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                      <div class="col-md-4">
                        <img src="{% static 'assets/img/foto.jpeg' %}" width="180px" height="180px" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <p class="card-text">Analista de Suporte, 27 anos, trabalho com tecnologia a 4 anos. e Desenvolvedor Python nas horas vagas 🐍.</p>
                        </div>
                      </div>
                    </div>
                  </div>

                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p style="display: grid;">Olá, eu sou Vitor dos Santos Gomes, o criador do TTNews! Seja bem-vindo ao meu universo digital. <br><br> Aqui, compartilho minha jornada, aprendizados e experiências no vasto mundo da programação, inglês e tudo relacionado à tecnologia.<br><br> Sou apaixonado por desvendar os segredos do código, explorar idiomas e desbravar o incrível universo da informática.
                        <br><br>
                        Neste blog, você encontrará dicas práticas, tutoriais e insights sobre programação, aprimoramento de habilidades em inglês e diversas curiosidades do universo computacional.<br><br> Junte-se a mim nessa jornada de aprendizado contínuo e descubra como a tecnologia pode ser fascinante e acessível a todos.
                        <br><br>
                        Estou animado para compartilhar conhecimento, construir uma comunidade engajada e, é claro, aprender junto com você.<br><br> Seja parte dessa experiência interativa e inspire-se para alcançar seus objetivos no vasto e dinâmico mundo da tecnologia.<br><br> Obrigado por fazer parte do TTNews. Vamos explorar e aprender juntos!</p>
                    <p> 💬#Python #Blog #Learn</p>
                </div>
            </div>
        </div>
    </main>
    {% endblock %}