{% extends 'base.html' %}
{% load static %}

{% block 'title' %}
	Principal
	{% endblock %}

{% block 'body' %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                {% for post in posts %}
                <a href="{% url 'Core:postid' post.id %}">
                    <h2 class="post-title">{{post.headline}}</h2>
                    <h3 class="post-subtitle">{{post.previa}}</h3>
                </a>
                <p class="post-meta">
                    Postado por
                    <a href="#!">{{post.por}}</a>
                    {{post.data}}
                </p>
                <hr class="my-4" />
                {% endfor %}
            </div>
    
            </div>
            <div class="d-flex justify-content-end mb-4">
                <span class="step-links">
                    {% if posts.has_previous %}
                        <a href="?page=1">&laquo; Primeira</a>
                        <a href="?page={{ posts.previous_page_number }}">Anterior</a>
                    {% endif %}
            
                    <span class="current">
                        Pagina {{ posts.number }} De {{ posts.paginator.num_pages }}.
                    </span>
            
                    {% if posts.has_next %}
                        <a class="btn btn-primary text-uppercase" href="?page={{ posts.next_page_number }}">Antigos</a>
                        <a href="?page={{ posts.paginator.num_pages }}">Ultima &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
{% endblock %}